apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-rabbitmq
  namespace: ${CICD_GIT_REPO_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-rabbitmq
  template:
    metadata:
      labels:
        app: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-rabbitmq
      annotations:
        iiidevops.org/project_name: "${CICD_GIT_REPO_NAME}"
        iiidevops.org/branch: "${CICD_GIT_BRANCH}"
        iiidevops.org/commit_id: "${CICD_GIT_COMMIT}"
        iiidevops.org/type: db-server
    spec:
      imagePullSecrets:
      - name: harbor-local
      containers:
      - image: rabbitmq:3-management
        name: ${CICD_GIT_REPO_NAME}-${CICD_GIT_BRANCH}-rabbitmq
        ports:
        - containerPort: 5672
          name: rbmq-tcp-5672
        - containerPort: 15672
          name: rbmq-tcp-15672
        env:
        - name: RABBITMQ_DEFAULT_USER
          value: "iiidevops"
        - name: RABBITMQ_DEFAULT_PASS
          value: "templatePassword"
